$color-green: #41D395;
$color-blue: #6696E2;
$color-orange: #E27866;
$color-darkgrey: #1C1C1C;
$header-height: 72px;

:root {
    --swiper-theme-color: #E27866;
}


body {
    background-color: rgb(136, 136, 136);
    max-width: 1400px;
    margin: auto;
    position: relative;
}

li {
    list-style: none;
    padding: .5em;
}

header {
    background-color: $color-darkgrey;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
    height: $header-height;
    z-index: 2;
    img {
        height: 52px;
        margin: 10px;
    }

    nav {
        a {
            padding: 0 10px;
            text-decoration: none;
            color: #FFFFFF;
            opacity: .69;
            display: inline-block;
            border-bottom: 2px solid transparent;
            line-height: $header-height;
        }

        a:hover {
            opacity: 1;
            border-bottom: 2px solid $color-orange;
        }
    }
}

main {
    &>* {
        padding: 0 30px;
    }
    margin-top: 72px;
    
    
    section {
        padding-top: 50px;
        padding-bottom: 50px

    }

}

#hero {
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(
        rgba(28, 28, 28, .63), 
        rgba(28, 28, 28, .63)
      ),url('assets/photo-1480714378408-67cf0d13bc1b.png');

    article {
        color: white;
        h2 {
            font-size: 36px;
            font-weight: 600;
        }

        p {
            opacity: .8;
            font-size: 16px;
            font-weight: 600;
        }

        button {
            background-color: transparent;
            border: 2px solid white;
            color:white;
            font-size: 16px;
            font-weight: 600;
            padding: .5em 1em; 
        }
    }


}


#features {
    background-position: bottom;
    background-repeat: no-repeat;
    background: linear-gradient(90deg, rgba(226,120,102,0.42) 0%, rgba(102,150,226,0.42) 100%
      ),url('assets/christoffer-engstrom-503481-unsplash.png');

    .square {
        height: 100px;
        width: 100px;
        background-color: $color-orange;
        margin: 10px;
        justify-content: center;
        border-radius: 0;

        div {
            display: inline-block;
            transform: rotate(-45deg);
            transform-origin: center;
        }
    }

    article {
        align-self: flex-start;
        justify-content: space-between;
        align-self: stretch;
        margin: 0 10px;
    }
    .galery {
        margin: 0 20px;

        a {
            line-height: 0;
            margin: .5em;
        }

    }

    .swiper-pagination {
        position: relative;
    }

    .swiper-slide {
        padding-right: 150px;
        box-sizing: border-box;
    }
}


#about {
    article {
        margin-left: 20px;
        flex-basis: 450px;
        h2 {
            position: relative;
        }

        h2:after {
            content:"";
            border-bottom: 2px solid  $color-orange;
            width: 200px;
            display: block;
            position: absolute;
            left: 0;
            margin-top: .25em;
        }
    }
}

#bragging {
    .underlined:after {
        border-bottom: 2px solid $color-orange;
    }
    .card {
        max-width: 280px;
        align-items: center;
    }
}

#pricing {
    .underlined:after {
        border-bottom: 2px solid $color-green;
    }
}

#reviews {
    .underlined:after {
        border-bottom: 2px solid $color-blue;
    }

    .swiper-wrapper {
        align-items: flex-end;
        margin-bottom: 50px;
    }

    .swiper-pagination-bullet {
        border: 1px solid var(--swiper-theme-color);
        opacity: 1;
        background-color: transparent;
    }
    
    .swiper-pagination-bullet-active {
        background-color: var(--swiper-theme-color);
    }
    
}

#contact {
    form {
        align-self: center;
    }

    .underlined {
        border-bottom: 2px solid $color-orange;
    }
}