$color-green: #41D395;
$color-blue: #6696E2;
$color-orange: #E27866;
$color-darkgrey: #1C1C1C;
$base-font: 'Montserrat', sans-serif;
$header-height: 72px;
$max-width: 1400px;
$break-point1: 900px; // Change feature slides navigation
$break-point2: 850px; // Change feature slides layout
$break-point3: 800px; // Mobile & tablet layout
$break-point4: 500px; // Shrink header fonts
$break-point5: 400px; // For small mobile screens

html {
    img {
        max-width: 100%;
    }
    
    body {
        max-width: 1400px;
        margin: auto;
        position: relative;
    }
    
    li {
        list-style: none;
        padding: .5em;
        color:#86878B;
    }

    input {
        font-family: $base-font;
    };
}

:root {
    --swiper-theme-color: #E27866;
    font-family: $base-font;
}

header {
    background-color: $color-darkgrey;
    max-width: $max-width;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    height: $header-height;
    z-index: 2;
    img {
        height: 52px;
        margin: 10px;
    }

    nav {
        a {
            padding: 0 10px;
            text-decoration: none;
            color: #FFFFFF;
            opacity: .69;
            display: inline-block;
            border-bottom: 2px solid transparent;
            line-height: $header-height;
        }

        a:hover {
            opacity: 1;
            border-bottom: 2px solid $color-orange;
        }
    }
}

main {
    margin-top: $header-height;

    &>* {
        padding: 0 5vw;
    }
    
    section {
        padding-top: 50px;
        padding-bottom: 50px

    }
    @media (max-width: $break-point5) {
        section {
            padding-top: 20px;
            padding-bottom: 20px
    
        }
    }

}

#hero {
    background: linear-gradient(
        rgba(28, 28, 28, .63), 
        rgba(28, 28, 28, .63)
      ),url('assets/photo-1480714378408-67cf0d13bc1b.png');
    background-size: cover;

    article {
        margin-bottom: 2em;
        margin-right: 1em;
        p {
            opacity: .8;
        } 
    }

    @media (max-width: $break-point3){
        .container.row{
            flex-direction: column;
        }
    }

    h1 {
        max-width: 426px;
    }
    h1:after {
        content:"";
        border-bottom: 2px solid  white;
        width: 64px;
        display: block;
        position: absolute;
        left: 0;
        margin-top: 1em;
    }
}

#social {
    p {
        color: #86878B;
    }

    @media (max-width: $break-point5) {
        p {
            display: none;
        }
    }

    img {
        opacity: .65;
    }
}

#features {
    background: linear-gradient(90deg, rgba(226,120,102,0.42) 0%, rgba(102,150,226,0.42) 100%
      ),url('assets/christoffer-engstrom-503481-unsplash.png');
    background-size: cover;   

    article {
        align-self: flex-start;
        justify-content: space-between;
        align-self: stretch;
        margin: 0 10px;
        flex-basis: 50%;
    }
    .galery {
        margin: 0 20px;

        img {
            box-shadow: 0px 3px 6px #00000029;
        }

        a {
            line-height: 0;
            margin: .5em;
        }
    }

    .swiper-pagination {
        position: relative;
        
    }

    .swiper-pagination-bullet {
        background-color: #a37169;
        box-shadow: 0px 3px 6px #00000029;
    }

    .swiper-pagination-bullet-active {
        background-color: $color-orange;
    }

    .swiper-slide {
        padding-right: 10vw;
        box-sizing: border-box;
    }

    @media (max-width: $break-point5) {
        .swiper-slide {
            padding-right: 0;
        }
    }
}


#about {
    article {
        margin-left: 20px;
        flex-basis: 450px;
        flex-grow: 1;

        h3:after {
            content:"";
            border-bottom: 2px solid  $color-orange;
            width: 200px;
            display: block;
            position: absolute;
            left: 0;
            margin-top: 1em;
        }
    }

    
}

#bragging {
    .underlined:after {
        border-bottom: 2px solid $color-orange;
    }
    .card {
        max-width: 280px;
        align-items: center;
    }
    h2 + p, h4 + p {
        color: #86878B
    }
}

#pricing {
    .underlined:after {
        border-bottom: 2px solid $color-green;
    }
}

#reviews {
    .underlined:after {
        border-bottom: 2px solid $color-blue;
    }

    .swiper-wrapper {
        align-items: flex-end;
        margin-bottom: 50px;
    }

    .swiper-pagination-bullet {
        border: 1px solid var(--swiper-theme-color);
        opacity: 1;
        background-color: transparent;
        margin: 0 10px;
    }
    
    .swiper-pagination-bullet-active {
        background-color: var(--swiper-theme-color);
    }

    .person {
        img {
            margin: 0 10px;
        }
    }
    .person .col p:first-of-type{
        font-size: 20px;
    }
    .person .col p:last-of-type{
        color: #86878B
    }
    
}

#contact {
    form {
        align-self: center;
    }

    .underlined {
        border-bottom: 2px solid $color-orange;
    }
}

footer {

    .social-icons {
        flex-basis: 500px;
    }

    padding: 40px;
    span {
        opacity: 0.5;
    }
}

// switch from features slide pagination to buttons

@media (max-width: $break-point1) and (min-width: $break-point5 + 1px) {
    #features {
        .swiper-pagination {
            display: none;
        }

        .swiper-slide {
            padding-left: 40px;
            padding-right: 40px;
            box-sizing: border-box;
        }

        padding-left: 0;
        padding-right: 0;
        
        
    }
}

@media (min-width: $break-point1 + 1px) {
    #features {
        .swiper-buttons {
            display: none;
        }

        .features-pagination {
            height: 100px;
            width: 100px;
            margin: 10px;
            justify-content: center;
            border-radius: 0;
    
            //rotate text insite pagination
            div {
                display: inline-block;
                transform: rotate(-45deg);
                transform-origin: center;
            }
        }
    }
}

@media (max-width: $break-point5) {
    #features {

        .galery {
            margin: 0;
        }
        .swiper-buttons {
            display: none;
        }

        .swiper-pagination {
            display: flex;
            flex-wrap: wrap;
            height: 50px; 
        }

        .features-pagination {
            //rotate text insite pagination
            div {
                display: none;
            }
        }
    }
    
}

@media (max-width: $break-point2) {
    #features {
        .swiper-slide {
            flex-direction: column;
        }
    }
}