
//various reusable classes


/* flex options */

.row {
    display: flex;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.space-around {
    justify-content: space-around;
}

.stretch {
    justify-content: stretch;
}

.space-between {
    justify-content: space-between;
}

.grow {
    flex-grow: 1;
}

.basis50 {
    flex-basis: 50%
}

.al-center {
    align-items: center;
}

/* background colors */

.bkg-w {
    background-color: #FFFFFF;

}
.bkg-b {
    background-color: #1C1C1C;
    color: white;
}

.bkg-orange {
    background-color: $color-orange;
}

.bkg-green {
    background-color: $color-green;
}

.bkg-blue {
    background-color: $color-blue;
}

/* section heights */

.sc-tall {
    min-height: 70vh;
}

.sc-medium {
    min-height: 55vh;
}

/*Other*/

.ta-center {
    text-align: center;
}

.tc-white {
    color: white
}

.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    // justify-content: space-between;
    margin: 0 auto;
}

/*underline class*/

.underlined:after {
    content:"";
    width: 64px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    margin-top: 1em;
}

/*chat bubble class*/

.msg-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px;
    max-width: 273px;

    p {
        background-color: $color-blue;
        font-size: 16px;
        display: inline-block;
        position: relative;
        padding: 15px;
        border-radius: 8px;
        order: 1;
    }
}

.msg-container:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 8px;
    left: 13px;
    border-top: 20px solid $color-blue;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-radius: 2px;
}

.content-overlay {
    position: relative;
    display: inline-block;


    &:after{
        content:"Explore";
        background-color: rgba(226, 120, 102, .8);
        box-sizing: border-box;
        text-align: center;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s;   
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;   
    }
    &:hover:after{
        opacity: 1;
    }
}

.button-transparent {
    background-color: transparent;
    border: 2px solid white;
    color:white;
    font-size: 16px;
    font-weight: 600;
    padding: .5em 1em; 
}