
//various reusable classes

.row {
    display: flex;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.bkg-w {
    background-color: #FFFFFF;

}
.bkg-b {
    background-color: #1C1C1C;
    color: white;
}

.bkg-orange {
    background-color: $color-orange;
}

.bkg-green {
    background-color: $color-green;
}

.bkg-blue {
    background-color: $color-blue;
}

.sc-tall {
    min-height: 70vh;
}

.sc-medium {
    min-height: 45vh;
}