body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    margin: 1em 0 2em 0;
    position: relative;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 1em 0 2em 0;
    position: relative;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    margin: 1em 0 2em 0;
    position: relative;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    margin: .5em 0;
}

h5 {
    font-size: 14px;
    font-weight: 600;
    margin: .5em 0;
}

p, li {
    font-size: 14px;

}

p {
    margin-bottom: 20px;
}

@media (max-width: $break-point4) {
    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 22px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 16px;
    }
}